/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* MAIN COLOR : #087f5b
   GRAY COLOR : #343a40 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #343a40;
  font-family: "Inter", sans-serif;
  line-height: 1;
}

.accordion {
  width: 800px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accordion-item {
  padding: 24px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 24px;
}

.accordion-number {
  color: #868e96;
  font-size: 24px;
  font-weight: bold;
}

.accordion-header {
  color: #343a40;
}

.accordion-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.accordion-icon {
  stroke: #868e96;
  height: 24px;
  width: 24px;
}

.accordion-box {
  grid-column: 2;
}

.accordion-text {
  line-height: 1.5;
}

.accordion-list {
  color: #adb5bd;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.accordion-list-item {
}

.hidden {
  display: none;
}

.open {
  border-top: 4px solid #087f5b;
}

.open .accordion-number {
  color: #087f5b;
}

.open .accordion-header {
  color: #087f5b;
}

.open .accordion-icon {
  stroke: #087f5b;
}
